In [1]:
import sys
import pyspark
import pandas as pd
import gcsfs
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import when
from pyspark.sql.functions import regexp_replace

In [2]:
#Creating the spark session
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("finalprojclean") \
    .config("spark.sql.inferSchema", "true")\
    .getOrCreate()

In [3]:
spark

In [4]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 208E-AA96

 Directory of c:\Workspace\cleaning

04/05/2023  04:31 PM    <DIR>          .
04/05/2023  04:31 PM    <DIR>          ..
04/03/2023  05:33 PM           487,084 bank-additional-full-masked-null.parquet
04/03/2023  10:11 PM         5,384,496 bank-marketing.csv
04/03/2023  10:03 PM           480,557 bank-marketing.parquet
04/03/2023  10:06 PM             2,186 blbla.ipynb
04/04/2023  09:56 PM             2,334 google_credentials.json
04/05/2023  12:14 PM             2,326 google_credentials2.json
04/05/2023  04:31 PM            56,850 spark-cleansing local.ipynb
04/05/2023  02:55 PM            77,144 spark-cleansing.ipynb
04/03/2023  11:10 PM             2,225 spark-cleansing.py
               9 File(s)      6,495,202 bytes
               2 Dir(s)  98,685,542,400 bytes free

In [5]:
df = spark.read.format("parquet").option("header", "true").load("bank-additional-full-masked-null.parquet")

In [6]:
df.show()

+---------+---+-----------+--------+-------------------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|client_id|age|        job| marital|          education|default|housing|loan|  contact|month|year|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|  y|
+---------+---+-----------+--------+-------------------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|        1| 56|  housemaid| married|           basic.4y|     no|     no|  no|telephone|  may|2008|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        2| 57|   services| married|        high.school|unknown|     no|  no|telephone|  may|2008|        mon|     149|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        3| 37|   services| married|        high.school|     no|    yes|  no|telephone|  may|2008|        mon|     226|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        4| 40|     admin.| married|           basic.6y|     no|     no|  no|telephone|  may|2008|        mon|     151|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        5| 56|   services| married|        high.school|     no|     no| yes|telephone|  may|2008|        mon|     307|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        6| 45|   services| married|           basic.9y|unknown|     no|  no|telephone|  may|2008|        mon|     198|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        7| 59|     admin.| married|professional.course|     no|     no|  no|telephone|  may|2008|        mon|     139|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        8| 41|blue-collar| married|            unknown|unknown|     no|  no|telephone|  may|2008|        mon|     217|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        9| 24| technician|  single|professional.course|     no|    yes|  no|telephone|  may|2008|        mon|     380|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       10| 25|   services|  single|        high.school|     no|    yes|  no|telephone|  may|2008|        mon|      50|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       11| 41|blue-collar| married|            unknown|unknown|     no|  no|telephone|  may|2008|        mon|      55|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       12| 25|   services|  single|        high.school|     no|    yes|  no|telephone|  may|2008|        mon|     222|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       13| 29|blue-collar|  single|        high.school|     no|     no| yes|telephone|  may|2008|        mon|     137|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       14| 57|  housemaid|divorced|           basic.4y|     no|    yes|  no|telephone|  may|2008|        mon|     293|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       15| 35|blue-collar| married|           basic.6y|     no|    yes|  no|telephone|  may|2008|        mon|     146|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       16| 54|    retired| married|           basic.9y|unknown|    yes| yes|telephone|  may|2008|        mon|     174|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       17| 35|blue-collar| married|           basic.6y|     no|    yes|  no|telephone|  may|2008|        mon|     312|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       18| 46|blue-collar| married|           basic.6y|unknown|    yes| yes|telephone|  may|2008|        mon|     440|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       19| 50|blue-collar| married|           basic.9y|     no|    yes| yes|telephone|  may|2008|        mon|     353|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       20| 39| management|  single|           basic.9y|unknown|     no|  no|telephone|  may|2008|        mon|     195|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
+---------+---+-----------+--------+-------------------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 20 rows

In [7]:
df.count()

41188

In [8]:
df.printSchema()

root
 |-- client_id: long (nullable = true)
 |-- age: long (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- year: long (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: long (nullable = true)
 |-- campaign: long (nullable = true)
 |-- pdays: long (nullable = true)
 |-- previous: long (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- emp.var.rate: double (nullable = true)
 |-- cons.price.idx: double (nullable = true)
 |-- cons.conf.idx: double (nullable = true)
 |-- euribor3m: double (nullable = true)
 |-- nr.employed: double (nullable = true)
 |-- y: string (nullable = true)

In [9]:
df.select('education').show()

+-------------------+
|          education|
+-------------------+
|           basic.4y|
|        high.school|
|        high.school|
|           basic.6y|
|        high.school|
|           basic.9y|
|professional.course|
|            unknown|
|professional.course|
|        high.school|
|            unknown|
|        high.school|
|        high.school|
|           basic.4y|
|           basic.6y|
|           basic.9y|
|           basic.6y|
|           basic.6y|
|           basic.9y|
|           basic.9y|
+-------------------+
only showing top 20 rows

In [10]:
# 1. standardize the education value
df = df.withColumn("education",
                                        when(df.education.endswith('4y'), regexp_replace(df.education, 'basic.4y', 'basic')) \
                                        .when(df.education.endswith('6y'), regexp_replace(df.education, 'basic.6y', 'basic')) \
                                         .when(df.education.endswith('9y'), regexp_replace(df.education, 'basic.9y', 'basic')) \
                                         .otherwise(df.education)
                                        )

In [11]:
df.show()

+---------+---+-----------+--------+-------------------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|client_id|age|        job| marital|          education|default|housing|loan|  contact|month|year|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|  y|
+---------+---+-----------+--------+-------------------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|        1| 56|  housemaid| married|              basic|     no|     no|  no|telephone|  may|2008|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        2| 57|   services| married|        high.school|unknown|     no|  no|telephone|  may|2008|        mon|     149|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        3| 37|   services| married|        high.school|     no|    yes|  no|telephone|  may|2008|        mon|     226|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        4| 40|     admin.| married|              basic|     no|     no|  no|telephone|  may|2008|        mon|     151|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        5| 56|   services| married|        high.school|     no|     no| yes|telephone|  may|2008|        mon|     307|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        6| 45|   services| married|              basic|unknown|     no|  no|telephone|  may|2008|        mon|     198|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        7| 59|     admin.| married|professional.course|     no|     no|  no|telephone|  may|2008|        mon|     139|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        8| 41|blue-collar| married|            unknown|unknown|     no|  no|telephone|  may|2008|        mon|     217|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        9| 24| technician|  single|professional.course|     no|    yes|  no|telephone|  may|2008|        mon|     380|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       10| 25|   services|  single|        high.school|     no|    yes|  no|telephone|  may|2008|        mon|      50|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       11| 41|blue-collar| married|            unknown|unknown|     no|  no|telephone|  may|2008|        mon|      55|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       12| 25|   services|  single|        high.school|     no|    yes|  no|telephone|  may|2008|        mon|     222|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       13| 29|blue-collar|  single|        high.school|     no|     no| yes|telephone|  may|2008|        mon|     137|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       14| 57|  housemaid|divorced|              basic|     no|    yes|  no|telephone|  may|2008|        mon|     293|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       15| 35|blue-collar| married|              basic|     no|    yes|  no|telephone|  may|2008|        mon|     146|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       16| 54|    retired| married|              basic|unknown|    yes| yes|telephone|  may|2008|        mon|     174|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       17| 35|blue-collar| married|              basic|     no|    yes|  no|telephone|  may|2008|        mon|     312|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       18| 46|blue-collar| married|              basic|unknown|    yes| yes|telephone|  may|2008|        mon|     440|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       19| 50|blue-collar| married|              basic|     no|    yes| yes|telephone|  may|2008|        mon|     353|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       20| 39| management|  single|              basic|unknown|     no|  no|telephone|  may|2008|        mon|     195|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
+---------+---+-----------+--------+-------------------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 20 rows

In [12]:
from pyspark.sql.functions import col, sum

df.filter(col("job").isNull()).show()

+---------+---+----+--------+-------------------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|client_id|age| job| marital|          education|default|housing|loan|  contact|month|year|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|  y|
+---------+---+----+--------+-------------------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|      968| 31|null| married|              basic|     no|    yes|  no|telephone|  may|2008|        wed|     650|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.856|     5191.0| no|
|     3000| 42|null| married|              basic|     no|    yes| yes|telephone|  may|2008|        wed|      97|       5|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.859|     5191.0| no|
|     3831| 39|null|divorced|              basic|unknown|     no|  no|telephone|  may|2008|        fri|     827|       2|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.859|     5191.0| no|
|     4092| 43|null|divorced|        high.school|     no|    yes|  no|telephone|  may|2008|        mon|     191|       4|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.858|     5191.0| no|
|     4479| 39|null| married|professional.course|     no|    yes|  no|telephone|  may|2008|        tue|     185|       2|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.856|     5191.0| no|
|     6954| 37|null| married|professional.course|     no|     no| yes|telephone|  may|2008|        thu|      44|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|     4.86|     5191.0| no|
|     7590| 49|null|divorced|        high.school|     no|     no|  no|telephone|  may|2008|        fri|     152|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.864|     5191.0| no|
|     9569| 46|null|divorced|              basic|     no|    yes|  no|telephone|  jun|2008|        mon|     217|       1|  999|       0|nonexistent|         1.4|        94.465|        -41.8|    4.961|     5228.1| no|
|    10502| 37|null|  single|  university.degree|     no|    yes| yes|telephone|  jun|2008|        tue|      43|       1|  999|       0|nonexistent|         1.4|        94.465|        -41.8|    4.961|     5228.1| no|
|    10649| 57|null| married|              basic|unknown|     no|  no|telephone|  jun|2008|        tue|     986|       1|  999|       0|nonexistent|         1.4|        94.465|        -41.8|    4.961|     5228.1| no|
|    13050| 38|null| married|              basic|unknown|     no|  no| cellular|  jul|2008|        tue|     283|       2|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.962|     5228.1| no|
|    13241| 45|null|divorced|              basic|     no|    yes|null| cellular|  jul|2008|        wed|     294|       1|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.962|     5228.1| no|
|    13351| 26|null|  single|  university.degree|     no|    yes|  no| cellular|  jul|2008|        wed|      70|       1|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.962|     5228.1| no|
|    17974| 30|null| married|professional.course|     no|     no|  no| cellular|  jul|2008|        tue|     333|      19|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.961|     5228.1| no|
|    18456| 32|null| married|  university.degree|     no|     no|  no| cellular|  jul|2008|        thu|     100|       1|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.968|     5228.1| no|
|    19254| 49|null| married|professional.course|unknown|    yes|  no| cellular|  aug|2008|        wed|     397|       2|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.967|     5228.1|yes|
|    19840| 29|null|  single|        high.school|     no|     no|  no| cellular|  aug|2008|        fri|      31|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.966|     5228.1| no|
|    20789| 34|null| married|professional.course|     no|     no|  no| cellular|  aug|2008|        wed|    1148|       2|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.965|     5228.1|yes|
|    23157| 40|null| married|  university.degree|     no|     no|  no| cellular|  aug|2008|        tue|      17|      11|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.965|     5228.1| no|
|    23330| 54|null| married|        high.school|     no|    yes|  no| cellular|  aug|2008|        wed|      82|       2|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.964|     5228.1| no|
+---------+---+----+--------+-------------------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 20 rows

In [13]:
# 2. some column name need to be standardized because spark can't read it
df = df.withColumnRenamed('emp.var.rate', 'emp_var_rate') \
    .withColumnRenamed('cons.price.idx', 'cons_price_idx') \
    .withColumnRenamed('cons.conf.idx', 'cons_conf_idx') \
    .withColumnRenamed('nr.employed', 'nr_employed') \
    .withColumnRenamed('default', 'credit')

In [14]:
null_counts = df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns])

# show null counts
null_counts.show()

+---------+---+---+-------+---------+------+-------+----+-------+-----+----+-----------+--------+--------+-----+--------+--------+------------+--------------+-------------+---------+-----------+---+
|client_id|age|job|marital|education|credit|housing|loan|contact|month|year|day_of_week|duration|campaign|pdays|previous|poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|  y|
+---------+---+---+-------+---------+------+-------+----+-------+-----+----+-----------+--------+--------+-----+--------+--------+------------+--------------+-------------+---------+-----------+---+
|        0|  0| 38|     31|       35|    24|     38|  38|     42|   38|   0|         57|       0|       0|    0|       0|      44|           0|             0|            0|        0|          0| 38|
+---------+---+---+-------+---------+------+-------+----+-------+-----+----+-----------+--------+--------+-----+--------+--------+------------+--------------+-------------+---------+-----------+---+

In [15]:
# 3. dropping null value
df = df.na.drop("any")
df.count()

40766

In [16]:
null_counts = df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns])

# show null counts
null_counts.show()

+---------+---+---+-------+---------+------+-------+----+-------+-----+----+-----------+--------+--------+-----+--------+--------+------------+--------------+-------------+---------+-----------+---+
|client_id|age|job|marital|education|credit|housing|loan|contact|month|year|day_of_week|duration|campaign|pdays|previous|poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|  y|
+---------+---+---+-------+---------+------+-------+----+-------+-----+----+-----------+--------+--------+-----+--------+--------+------------+--------------+-------------+---------+-----------+---+
|        0|  0|  0|      0|        0|     0|      0|   0|      0|    0|   0|          0|       0|       0|    0|       0|       0|           0|             0|            0|        0|          0|  0|
+---------+---+---+-------+---------+------+-------+----+-------+-----+----+-----------+--------+--------+-----+--------+--------+------------+--------------+-------------+---------+-----------+---+

In [17]:
df.select('year').show()

+----+
|year|
+----+
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
|2008|
+----+
only showing top 20 rows

In [18]:
df.select('year').dtypes

[('year', 'bigint')]

In [19]:
df.show()

+---------+---+-----------+--------+-------------------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|client_id|age|        job| marital|          education| credit|housing|loan|  contact|month|year|day_of_week|duration|campaign|pdays|previous|   poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|  y|
+---------+---+-----------+--------+-------------------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|        1| 56|  housemaid| married|              basic|     no|     no|  no|telephone|  may|2008|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        2| 57|   services| married|        high.school|unknown|     no|  no|telephone|  may|2008|        mon|     149|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        3| 37|   services| married|        high.school|     no|    yes|  no|telephone|  may|2008|        mon|     226|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        4| 40|     admin.| married|              basic|     no|     no|  no|telephone|  may|2008|        mon|     151|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        5| 56|   services| married|        high.school|     no|     no| yes|telephone|  may|2008|        mon|     307|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        6| 45|   services| married|              basic|unknown|     no|  no|telephone|  may|2008|        mon|     198|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        7| 59|     admin.| married|professional.course|     no|     no|  no|telephone|  may|2008|        mon|     139|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        8| 41|blue-collar| married|            unknown|unknown|     no|  no|telephone|  may|2008|        mon|     217|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|        9| 24| technician|  single|professional.course|     no|    yes|  no|telephone|  may|2008|        mon|     380|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       10| 25|   services|  single|        high.school|     no|    yes|  no|telephone|  may|2008|        mon|      50|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       11| 41|blue-collar| married|            unknown|unknown|     no|  no|telephone|  may|2008|        mon|      55|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       12| 25|   services|  single|        high.school|     no|    yes|  no|telephone|  may|2008|        mon|     222|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       13| 29|blue-collar|  single|        high.school|     no|     no| yes|telephone|  may|2008|        mon|     137|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       14| 57|  housemaid|divorced|              basic|     no|    yes|  no|telephone|  may|2008|        mon|     293|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       15| 35|blue-collar| married|              basic|     no|    yes|  no|telephone|  may|2008|        mon|     146|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       16| 54|    retired| married|              basic|unknown|    yes| yes|telephone|  may|2008|        mon|     174|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       17| 35|blue-collar| married|              basic|     no|    yes|  no|telephone|  may|2008|        mon|     312|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       18| 46|blue-collar| married|              basic|unknown|    yes| yes|telephone|  may|2008|        mon|     440|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       19| 50|blue-collar| married|              basic|     no|    yes| yes|telephone|  may|2008|        mon|     353|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
|       20| 39| management|  single|              basic|unknown|     no|  no|telephone|  may|2008|        mon|     195|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
+---------+---+-----------+--------+-------------------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 20 rows

In [20]:
from pyspark.sql.functions import to_date, date_format

# 4. change the month data type into date
df = df.withColumn("date", to_date("month", "MMM").alias("date")) \
       .withColumn("date", date_format("date", "MM").alias("date"))

df.tail(20)

[Row(client_id=41169, age=38, job='entrepreneur', marital='married', education='university.degree', credit='no', housing='no', loan='no', contact='cellular', month='nov', year=2010, day_of_week='wed', duration=144, campaign=2, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.03, nr_employed=4963.6, y='no', date='11'),
 Row(client_id=41170, age=62, job='services', marital='married', education='high.school', credit='no', housing='yes', loan='no', contact='cellular', month='nov', year=2010, day_of_week='wed', duration=154, campaign=5, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.03, nr_employed=4963.6, y='no', date='11'),
 Row(client_id=41171, age=40, job='management', marital='divorced', education='university.degree', credit='no', housing='yes', loan='no', contact='cellular', month='nov', year=2010, day_of_week='wed', duration=293, campaign=2, pdays=999, previous=4, poutcome='failure', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.03, nr_employed=4963.6, y='no', date='11'),
 Row(client_id=41172, age=33, job='student', marital='married', education='professional.course', credit='no', housing='yes', loan='no', contact='telephone', month='nov', year=2010, day_of_week='thu', duration=112, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='yes', date='11'),
 Row(client_id=41173, age=31, job='admin.', marital='single', education='university.degree', credit='no', housing='yes', loan='no', contact='cellular', month='nov', year=2010, day_of_week='thu', duration=353, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='yes', date='11'),
 Row(client_id=41174, age=62, job='retired', marital='married', education='university.degree', credit='no', housing='yes', loan='no', contact='cellular', month='nov', year=2010, day_of_week='thu', duration=329, campaign=1, pdays=999, previous=2, poutcome='failure', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='yes', date='11'),
 Row(client_id=41175, age=62, job='retired', marital='married', education='university.degree', credit='no', housing='yes', loan='no', contact='cellular', month='nov', year=2010, day_of_week='thu', duration=208, campaign=1, pdays=1, previous=6, poutcome='success', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='yes', date='11'),
 Row(client_id=41176, age=34, job='student', marital='single', education='unknown', credit='no', housing='yes', loan='no', contact='cellular', month='nov', year=2010, day_of_week='thu', duration=180, campaign=1, pdays=999, previous=2, poutcome='failure', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='no', date='11'),
 Row(client_id=41177, age=38, job='housemaid', marital='divorced', education='high.school', credit='no', housing='yes', loan='yes', contact='cellular', month='nov', year=2010, day_of_week='thu', duration=360, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='no', date='11'),
 Row(client_id=41178, age=57, job='retired', marital='married', education='professional.course', credit='no', housing='yes', loan='no', contact='cellular', month='nov', year=2010, day_of_week='thu', duration=124, campaign=6, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='no', date='11'),
 Row(client_id=41179, age=62, job='retired', marital='married', education='university.degree', credit='no', housing='no', loan='no', contact='cellular', month='nov', year=2010, day_of_week='thu', duration=483, campaign=2, pdays=6, previous=3, poutcome='success', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='yes', date='11'),
 Row(client_id=41180, age=64, job='retired', marital='divorced', education='professional.course', credit='no', housing='yes', loan='no', contact='cellular', month='nov', year=2010, day_of_week='fri', duration=151, campaign=3, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='no', date='11'),
 Row(client_id=41181, age=36, job='admin.', marital='married', education='university.degree', credit='no', housing='no', loan='no', contact='cellular', month='nov', year=2010, day_of_week='fri', duration=254, campaign=2, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='no', date='11'),
 Row(client_id=41182, age=37, job='admin.', marital='married', education='university.degree', credit='no', housing='yes', loan='no', contact='cellular', month='nov', year=2010, day_of_week='fri', duration=281, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='yes', date='11'),
 Row(client_id=41183, age=29, job='unemployed', marital='single', education='basic', credit='no', housing='yes', loan='no', contact='cellular', month='nov', year=2010, day_of_week='fri', duration=112, campaign=1, pdays=9, previous=1, poutcome='success', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='no', date='11'),
 Row(client_id=41184, age=73, job='retired', marital='married', education='professional.course', credit='no', housing='yes', loan='no', contact='cellular', month='nov', year=2010, day_of_week='fri', duration=334, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='yes', date='11'),
 Row(client_id=41185, age=46, job='blue-collar', marital='married', education='professional.course', credit='no', housing='no', loan='no', contact='cellular', month='nov', year=2010, day_of_week='fri', duration=383, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='no', date='11'),
 Row(client_id=41186, age=56, job='retired', marital='married', education='university.degree', credit='no', housing='yes', loan='no', contact='cellular', month='nov', year=2010, day_of_week='fri', duration=189, campaign=2, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='no', date='11'),
 Row(client_id=41187, age=44, job='technician', marital='married', education='professional.course', credit='no', housing='no', loan='no', contact='cellular', month='nov', year=2010, day_of_week='fri', duration=442, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='yes', date='11'),
 Row(client_id=41188, age=74, job='retired', marital='married', education='professional.course', credit='no', housing='yes', loan='no', contact='cellular', month='nov', year=2010, day_of_week='fri', duration=239, campaign=3, pdays=999, previous=1, poutcome='failure', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='no', date='11')]

In [21]:
from pyspark.sql.functions import concat, lit

# 5. combine the month and year value in month column
df = df.withColumn("date2", concat(df["year"], lit("-"), df["date"])) \
       .withColumn("date2", date_format("date2", "yyyyMM")) \
       .withColumn("date2", to_date("date2", "yyyyMM")) \
       .drop("date", "month", "year")

In [22]:
df = df.withColumnRenamed('date2', 'date')
df.tail(20)

[Row(client_id=41169, age=38, job='entrepreneur', marital='married', education='university.degree', credit='no', housing='no', loan='no', contact='cellular', day_of_week='wed', duration=144, campaign=2, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.03, nr_employed=4963.6, y='no', date=datetime.date(2010, 11, 1)),
 Row(client_id=41170, age=62, job='services', marital='married', education='high.school', credit='no', housing='yes', loan='no', contact='cellular', day_of_week='wed', duration=154, campaign=5, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.03, nr_employed=4963.6, y='no', date=datetime.date(2010, 11, 1)),
 Row(client_id=41171, age=40, job='management', marital='divorced', education='university.degree', credit='no', housing='yes', loan='no', contact='cellular', day_of_week='wed', duration=293, campaign=2, pdays=999, previous=4, poutcome='failure', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.03, nr_employed=4963.6, y='no', date=datetime.date(2010, 11, 1)),
 Row(client_id=41172, age=33, job='student', marital='married', education='professional.course', credit='no', housing='yes', loan='no', contact='telephone', day_of_week='thu', duration=112, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='yes', date=datetime.date(2010, 11, 1)),
 Row(client_id=41173, age=31, job='admin.', marital='single', education='university.degree', credit='no', housing='yes', loan='no', contact='cellular', day_of_week='thu', duration=353, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='yes', date=datetime.date(2010, 11, 1)),
 Row(client_id=41174, age=62, job='retired', marital='married', education='university.degree', credit='no', housing='yes', loan='no', contact='cellular', day_of_week='thu', duration=329, campaign=1, pdays=999, previous=2, poutcome='failure', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='yes', date=datetime.date(2010, 11, 1)),
 Row(client_id=41175, age=62, job='retired', marital='married', education='university.degree', credit='no', housing='yes', loan='no', contact='cellular', day_of_week='thu', duration=208, campaign=1, pdays=1, previous=6, poutcome='success', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='yes', date=datetime.date(2010, 11, 1)),
 Row(client_id=41176, age=34, job='student', marital='single', education='unknown', credit='no', housing='yes', loan='no', contact='cellular', day_of_week='thu', duration=180, campaign=1, pdays=999, previous=2, poutcome='failure', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='no', date=datetime.date(2010, 11, 1)),
 Row(client_id=41177, age=38, job='housemaid', marital='divorced', education='high.school', credit='no', housing='yes', loan='yes', contact='cellular', day_of_week='thu', duration=360, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='no', date=datetime.date(2010, 11, 1)),
 Row(client_id=41178, age=57, job='retired', marital='married', education='professional.course', credit='no', housing='yes', loan='no', contact='cellular', day_of_week='thu', duration=124, campaign=6, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='no', date=datetime.date(2010, 11, 1)),
 Row(client_id=41179, age=62, job='retired', marital='married', education='university.degree', credit='no', housing='no', loan='no', contact='cellular', day_of_week='thu', duration=483, campaign=2, pdays=6, previous=3, poutcome='success', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.031, nr_employed=4963.6, y='yes', date=datetime.date(2010, 11, 1)),
 Row(client_id=41180, age=64, job='retired', marital='divorced', education='professional.course', credit='no', housing='yes', loan='no', contact='cellular', day_of_week='fri', duration=151, campaign=3, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='no', date=datetime.date(2010, 11, 1)),
 Row(client_id=41181, age=36, job='admin.', marital='married', education='university.degree', credit='no', housing='no', loan='no', contact='cellular', day_of_week='fri', duration=254, campaign=2, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='no', date=datetime.date(2010, 11, 1)),
 Row(client_id=41182, age=37, job='admin.', marital='married', education='university.degree', credit='no', housing='yes', loan='no', contact='cellular', day_of_week='fri', duration=281, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='yes', date=datetime.date(2010, 11, 1)),
 Row(client_id=41183, age=29, job='unemployed', marital='single', education='basic', credit='no', housing='yes', loan='no', contact='cellular', day_of_week='fri', duration=112, campaign=1, pdays=9, previous=1, poutcome='success', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='no', date=datetime.date(2010, 11, 1)),
 Row(client_id=41184, age=73, job='retired', marital='married', education='professional.course', credit='no', housing='yes', loan='no', contact='cellular', day_of_week='fri', duration=334, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='yes', date=datetime.date(2010, 11, 1)),
 Row(client_id=41185, age=46, job='blue-collar', marital='married', education='professional.course', credit='no', housing='no', loan='no', contact='cellular', day_of_week='fri', duration=383, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='no', date=datetime.date(2010, 11, 1)),
 Row(client_id=41186, age=56, job='retired', marital='married', education='university.degree', credit='no', housing='yes', loan='no', contact='cellular', day_of_week='fri', duration=189, campaign=2, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='no', date=datetime.date(2010, 11, 1)),
 Row(client_id=41187, age=44, job='technician', marital='married', education='professional.course', credit='no', housing='no', loan='no', contact='cellular', day_of_week='fri', duration=442, campaign=1, pdays=999, previous=0, poutcome='nonexistent', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='yes', date=datetime.date(2010, 11, 1)),
 Row(client_id=41188, age=74, job='retired', marital='married', education='professional.course', credit='no', housing='yes', loan='no', contact='cellular', day_of_week='fri', duration=239, campaign=3, pdays=999, previous=1, poutcome='failure', emp_var_rate=-1.1, cons_price_idx=94.767, cons_conf_idx=-50.8, euribor3m=1.028, nr_employed=4963.6, y='no', date=datetime.date(2010, 11, 1))]

In [23]:
df.dtypes

[('client_id', 'bigint'),
 ('age', 'bigint'),
 ('job', 'string'),
 ('marital', 'string'),
 ('education', 'string'),
 ('credit', 'string'),
 ('housing', 'string'),
 ('loan', 'string'),
 ('contact', 'string'),
 ('day_of_week', 'string'),
 ('duration', 'bigint'),
 ('campaign', 'bigint'),
 ('pdays', 'bigint'),
 ('previous', 'bigint'),
 ('poutcome', 'string'),
 ('emp_var_rate', 'double'),
 ('cons_price_idx', 'double'),
 ('cons_conf_idx', 'double'),
 ('euribor3m', 'double'),
 ('nr_employed', 'double'),
 ('y', 'string'),
 ('date', 'date')]

In [24]:
import pandas as pd
import pandas_gbq

In [25]:
pdf = df.toPandas()

In [26]:
project_id = 'datafellowship-381910'
dataset_id = 'bankmarketing'

In [27]:
def load_to_bq(df, table_name):
    pandas_gbq.to_gbq(df, f'{dataset_id}.{table_name}', project_id=project_id)

In [28]:
pdf.dtypes

client_id           int64
age                 int64
job                object
marital            object
education          object
credit             object
housing            object
loan               object
contact            object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp_var_rate      float64
cons_price_idx    float64
cons_conf_idx     float64
euribor3m         float64
nr_employed       float64
y                  object
date               object
dtype: object

In [29]:
import datetime

# Assume that 'date_col' is a column in your DataFrame that contains 'datetime.date' objects
pdf['date'] = pdf['date'].apply(lambda d: d.strftime('%Y-%m-%d'))

# Write the DataFrame to BigQuery
load_to_bq(pdf, 'bank marketing cleaned')